.App {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
}

.category {
  display: flex;
  flex-direction: column;
}

.question.answered {
  color: #aaa;
  background-color: #eee;
}

.question-displayed {
  font-size: 4em;
  text-align: center;
  background-color: darkblue;
  padding: 10%;
  color: yellow;
}

.category, .question {
  border: 1px yellow solid;
}

.category {
  padding: 10px;
  background-color: darkblue;
  color: yellow;
}

.question {
  padding: 5px;
  background-color: darkblue;
  color: yellow;
  text-align: center;
  margin: 5px 0;
}
